a {
  color: inherit;
}
.nav {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: aquamarine;
}
.nav-links-gap {
  display: flex;
  gap: 0.5rem;
}
.nav-links a {
  margin: 5px;
  font-size: 20px;
  text-decoration: none;
}
