.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust as needed */
}

.flexItem {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  width: calc(
    50% - 20px
  ); /* Adjust width based on the number of items per row */
}

.flexItem p {
  margin-bottom: 10px;
}

.flexItem a {
  text-decoration: none;
  color: blue;
}
