.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f5f5f5;
}

.mainSection {
  width: 100%;
  height: 60vh;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.mainOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 10px;
}

.mainSection h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.mainSection p {
  font-size: 1.5em;
  margin-bottom: 40px;
}

.ctaButton {
  background-color: #ff9900;
  text-decoration: none;
  color: white;
  padding: 15px 30px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ctaButton:hover {
  background-color: #e68a00;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}

.flexItem {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(25% - 20px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-height: 500px;
}

.flexItem:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.linkContainer {
  margin-top: 10px;
}

.flexItem a {
  font-family: "Inter", sans-serif;
  color: #5f5b5b;
  text-decoration: none;
}

.flexItem a:hover {
  color: #ff9900;
  text-decoration: underline;
}
.flexRow {
  display: flex;
  gap: 20px;
}

.flexRow .flexItem {
  flex: 1;
}
.slider {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.sliderImage {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.5s ease;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.486);
  color: rgba(0, 0, 0, 0.603);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 40%;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.688);
}

.linkContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.viewMoreButton {
  padding: 10px 20px;
  background-color: #ff9900;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.viewMoreButton:hover {
  background-color: #ff9900;
}
