.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust as needed */
}

.flexItem {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  width: calc(
    50% - 20px
  ); /* Adjust width based on the number of items per row */
}

.flexItem p {
  margin-bottom: 10px;
}

.flexItem a {
  font-family: "Your Chosen Font", sans-serif; /* Replace 'Your Chosen Font' with the font you want */
  color: #5f5b5b;
  text-decoration: none;
}

.flexItem a:hover {
  color: #ff9900; /* Change color on hover */
  text-decoration: underline; /* Add underline on hover */
}
