.about-container {
  margin-left: 20%;
  margin-right: 10%;
  padding: 20px;
}

.about-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.about-column {
  margin-left: 20px;
}
.about-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  color: #666;
}

.about-highlight {
  color: #ff9900;
  font-weight: bold;
}

.image-section {
  padding: 20px;
  text-align: center;
}

.image-section h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.image-cards {
  display: flex;
  justify-content: center;
}

.image-card img {
  max-width: 250px;
  max-height: 250px;
  object-fit: contain;
}

.image-card {
  background-color: rgb(244, 239, 239);
  padding: 15px;
  margin: 10px;
  width: 250px;
  height: 200px;
  transition: transform 0.3s ease-in-out;
}

.image-card:hover {
  transform: scale(1.1);
}

.contact-info {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

.contact-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 16px;
  margin-bottom: 5px;
}
