.travel-container {
  margin-left: 20%;
  margin-right: 10%;
  padding: 20px;
}

.travel-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}
.travel-table {
  margin-left: 10px;
}

.travel-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  color: #666;
}

.travel-highlight {
  color: #ff9900;
  font-weight: bold;
}
